<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style-cv.css">
    <title>CV</title>
</head>
<body>
<header>
    <div class="nom">HATIM<br>SOULAIMANE</div>
    <div class="metiers">Manager<br>Formateur</div>
</header>
<section>
    <nav>
        <div class="profil">PROFIL</div>
        <div class="contact">CONTACT</div>

    </nav>
    <article>
        <div class="texte1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto cupiditate deleniti dicta error facere nulla sequi soluta vero.</div>

        <div class="texte2">&#9743;067834921898687585<br>
        &#9993;soulaiman@hotmail.fr<br>&#127760;souly.h<br>&#127915;lorem ipsum</div><br>

        <div class="experiences">EXPERIENCES</div>

        <div class="competence">COMPETENCE</div><br>
        <div class="texte3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, quos!kjhb,kuhljl hkjk kuh</div>
        <div class="texte4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, obcaecati.kkj oihlk</div>




    </article>
</section>
<footer><p></p></footer>

</body>
</html>