<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les Flexbox</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="flexbox">
    <div class="rouge">1</div>
    <div class="vert">2</div>
    <div class="jaune">3</div>
    <div class="rose">4</div>
    <div class="bleu">5</div>

</div>
<div style="background:">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto assumenda aut autem corporis
    debitis dignissimos dolor, eius error, esse exercitationem harum laboriosam mollitia nesciunt quod rem reprehenderit
    sapiente, similique vero. Aliquam eos id, illo laborum provident repudiandae voluptatem!
</div>

</body>
</html>