<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Float Layout</title>
    <link rel="stylesheet" href="monStyle.css"/>
</head>
<body>
<header>
    <h2>Londres</h2>
</header>
<section>
    <nav>
        <ul>
            <li><a href="index.html">Londres</a></li>
            <li><a href="paris.html">Paris</a></li>
            <li>Abidjan</li>
            <li>Teheran</li>
            <li>Rabat</li>

        </ul>
    </nav>
    <article>
            <h1>Londres</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis cumque ex ipsum quis quos sed
            suscipit! Ad autem culpa dicta laudantium minus optio quisquam, quos. In maxime nihil perferendis!</p>
        <p>Ab dolor dolores error expedita inventore ipsum magnam odit omnis porro provident, quasi sapiente, voluptatem
            voluptatum. Delectus, doloremque doloribus eligendi, eum excepturi facilis, mollitia nemo nulla praesentium
            repellat vel veritatis!</p>
    </article>
</section>
<footer><p>copyright &copy; 2020</p></footer>
</body>
</html>